html,body{
	/*font-family: ubuntu;*/
	font-family:robotoregular,"Helvetica Neue", Helvetica, Arial, sans-serif ;
}
html * {
	font-family:robotoregular,"Helvetica Neue", Helvetica, Arial, sans-serif ;
}
input, select, textarea, button,a {
	font-family:robotoregular,"Helvetica Neue", Helvetica, Arial, sans-serif !important; 
	font-weight: normal !important; 
}

.center {  
      text-align:center  
 }
 .ui-panel a{
 font-weight:normal !important;

 }
 .ui-panel a{
 	 background-color: transparent !important;
	
 }
 a.btn{
 	text-decoration: none !important;
 }

 hr {
border-bottom: 1px solid rgb(197, 197, 197);
border-top: 0;
}
#search-page hr {
margin: 0px;
/*position: relative;
top: 1px;*/
}
 h2 {
margin-top: 0.9rem;
margin-bottom: 0.9rem;
font-size:1.4rem;
}
.product-card-code-cr {
margin-bottom: 1rem;
margin-top: 0.4rem;

font-size: 0.8rem;
}
h2#product-card-name{
	margin-bottom: 0px;
margin-top: 0.4em;
line-height: 1.5rem;
}

div.ui-panel.ui-body-b {
background-color: #F6731B;
/*margin-top: 44px;*/
}
.ui-panel .ui-listview li {
border-bottom: 1px solid #F08A45;
padding-top: 0rem;
}
.variation_list_items {
overflow: hidden;
padding: 0.2rem 0;
}


.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
position: absolute;
left: 16px;
top: 10px;
max-height: 4em;
max-width: 4em;
}
.ui-listview .ui-li-has-thumb a {
background: transparent !important;
border-color: white !important;
color: #333 !important;
}
html *{
text-shadow: inherit !important;
}
.ui-bar-b, .ui-page-theme-b .ui-bar-inherit, html .ui-bar-b .ui-bar-inherit, html .ui-body-b .ui-bar-inherit, html body .ui-group-theme-b .ui-bar-inherit{
	background-color: #F6731B;
	border:0;
}
.ui-header .ui-btn  {
padding:0;
background-color:transparent !important;
border:0;
margin-top: 8px;
margin-bottom: 0px;
}
.c_menu_btn{
	position: relative;
top: -1px;
}

.ui-panel .text {
color: #FFFFFF !important;
display: inline-block;
margin-left: 0.5rem;
position: relative;
top: -0.18rem;
font-size: 1.1rem;
}
.list-head-module.content-padding {
margin-top: 0.9rem;
color: #777777;
font-size: 1.1rem;
margin-bottom: 0.9rem;
}
.ui-shadow{
	box-shadow: none;
	
}
.ui-panel-inner {
padding: 0rem 1rem 1rem 1rem;
}
.ui-panel .ui-first-child {

}

.ui-noshadow{
box-shadow: none;
-webkit-box-shadow:none;
}
.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b{
	background-color: #FFFFFF;
border-color: #FFFFFF;
border:none;
}

.ui-header  .ui-input-text input{
color:#000000;
}
.ui-header  .ui-input-text ,.ui-header  .ui-input-text :focus{
border-radius:0 !important;
-webkit-box-shadow:none !important;
box-shadow:none !important;
}


.search-input{
font-size: 0.8rem;
padding-left:2rem !important;
padding-top: 8px !important;
}
.ui-li-thumb,.uil_image {
position: absolute;
left: 16px;
top: 10px;
max-height: 4em;
max-width: 4em;
}
.thumb_img_contanerouter {
float: left;
}
.thumb_img_contanerinner{
max-width: 4rem;
max-height: 4rem;
width: 4rem;
height: 4rem;
text-align: center;
vertical-align: middle;
display: table-cell;
padding-top: 0.2rem;
}
.thumb_img_contanerinner img{
max-height: 100%;
max-width: 100%;
}

.item_text_container {
float: left;
margin-left: 1.3rem;
width: calc(100% - 89px) !important;
}
.item_text_containerinner {
height: 4rem;
vertical-align: middle;
display: table-cell;
}
.ui-listview a.ui-btn{
background-color: white !important;
border-color: #C8C8CA !important;
}

.ui-listview a.ui-btn *{
	color:#000000;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
background-color:#FFFFFF;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}
@font-face {
  
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../fonts/ubuntu_medium.woff) format('woff');
}
h1,h2,h3{
	
    font-weight: normal;
	
}
.ui-header .ui-title, .ui-footer .ui-title{
	font-size: 1.3rem;
	padding:0.3rem 0;
	text-align: center;
}
.ui-listview>li h1, .ui-listview>li h2, .ui-listview>li h3, .ui-listview>li h4, .ui-listview>li h5, .ui-listview>li h6{
	font-size: 1.2em;
	font-weight: 400;
}
.ui-listview>li h2.product{
	font-weight: 400;
	font-size: 1.0em;
	margin: 0;
}

.ui-btn-right{
right: 10px;
}
.ui-btn-left{
	left: 0;
	height: 42px;
	width: 42px;
	top: 0;
	padding-top: 8px !important;
	margin-top: 0px !important;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ui-header{
	padding: 0.2rem 0;
	min-height: 36px;
}
.ui-content .ui-input-text{	
	background-color: #fff;
	border-color: #B2B2B2;
	color: #B2B2B2;
	text-shadow: none;
	box-shadow: none;
}
.item_name_only h2{
	font-weight:normal;	
}
.owl-carousel {
/*left: -1rem;
width: calc(100% + 2rem) !important;*/
background-color: #FFFFFF;
}
.ui-content .ui-listview, .ui-panel-inner>.ui-listview{
	margin: 0 -1em;
	
}
.owl-carousel-product-card .item{
	max-height: 600px;
height: 300px;
display: table;
width: 100%;
}
.cell {
display: table-cell;
width: 100%;
height: 100%;
text-align: center;
vertical-align: middle;
}
.owl-carousel-product-card .owl-item{
	height: 300px
}
.owl-carousel-product-card  .owl-item img{
	width: auto !important;
	margin: auto;
	height: auto;
	max-width: 100%;
}
#product-card-images {
	height: 300px;
}
#main .ui-content, #search-page .ui-content{
	padding-top: 0;
	background-color: #F3F3F3;
}


.green_btn{

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95cd60', endColorstr='#6da538',GradientType=0);
background-color: #62b815 !important;
-moz-border-radius: 3px  !important;
-webkit-border-radius: 3px  !important;
border-radius: 3px  !important;
border: 1px solid #46CA5E;
color: white !important;
font-weight: 400;
font-size: 1.3rem;
padding: 0.5rem 0;


}
.tel_btn{

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95cd60', endColorstr='#6da538',GradientType=0);
background-color: #F6731B !important;
-moz-border-radius: 3px  !important;
-webkit-border-radius: 3px  !important;
border-radius: 3px  !important;
border: 1px solid #3598DB;
color: white !important;
font-weight: 400;
font-size: 1.3rem;
padding: 0.5rem 0;

text-decoration: none;
}
/*.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
background-color: #F3F3F3;
}*/
.ui-listview>li h1, .ui-listview>li h2, .ui-listview>li h3, .ui-listview>li h4, .ui-listview>li h5, .ui-listview>li h6{
	white-space: initial !important;
}
.nav_btn{
	padding: 0.3rem 0.5rem;
	display: inline-block;
}
.ui-listview .price {
color: #F47317 !important;
font-size: 1.3rem;

font-weight: 500;
margin-right: 2rem;
}
#page-cart .cnr{
	color: rgb(100, 94, 94) !important;
	font-weight: 400 !important;
} 
.ui-listview .props {
color: #A8A8A8 !important;
font-weight: 400;
font-size: 0.78rem;
margin-top: 0.08rem;
text-overflow: ellipsis;
white-space: initial !important;
}
.ui-listview .status {
font-weight: normal;
font-size: 0.8rem;
color: silver !important;
}
.ui-listview .ui-btn{
	padding: .5em 1em;
}

.ui-panel .ui-listview  a.ui-btn{
background-color:transparent !important;
border:none !important;
box-shadow: none;
-webkit-box-shadow:none;
color:#FFFFFF;
}


.ui-content {
padding-top: 0px;
padding-bottom: 0px;
 padding: 0 !important;
}
.ui-listview>li{
	padding-left: 16px;
	padding-right: 16px;
}
.ui-listview table{
	border-spacing: 0;
    border-collapse: collapse;
}
.ui-listview table td.first{
	padding:0 !important;
	margin:0 !important;
}
.content-padding {
	padding-left: 16px !important;
	padding-right: 16px !important;
	overflow: hidden;
}

#product-card-variations .v_color {
display: block;
width: 2.3rem;
height: 2.3rem;
}
#product-card-variations .v_color_p {
float: left;
margin-right: 0.3rem;
border: 1px solid rgb(131, 131, 131);
border-radius: 3px;
overflow: hidden;
margin-top: 0.2rem;
}
#product-card-variations .v_color_w {
border: 1px solid white;
border-radius: 3px;
overflow: hidden;
cursor: pointer;
}
.v_color_w a {
text-decoration: none !important;
}
.v_color.v_color_text {
font-size: 1rem !important;
font-weight: 400;
text-align: center;
padding-top: 0.6rem;
padding-bottom: 0.6rem;
box-sizing: border-box;
text-decoration: none !important;
color: rgb(80, 80, 80);
width: 4rem !important;
height: auto !important;
border: 0px;
}
element.style {
}
#product-card-variations .v_color_w {
border: 1px solid white;
border-radius: 3px;
overflow: hidden;
cursor: pointer;
background-color: #EDEDED;
}
.v_color_w.v_color_w_text {
border: 0px !important;
}
.v_color_p.v_color_p_text {
border: 0px !important;
}

.variation_list_items {
overflow: hidden;
}

#product-card-variations {
margin-left: 16px;
margin-top: 2.5rem;

}
.variation_list_contaner {
margin-bottom: 16px;
}
.variation_type_name {

font-size: 0.9rem;

}
#product-card-prices {
margin-top: 0rem;
}
.prices_item_cr {
overflow: hidden;

}
.prices_item {
float: left;
position: relative;
top: 0.6rem;
font-size: 1.2rem;
}
.prices_item_value {
float: right;
font-size: 2rem;
color: #F47317 !important;
}
.pre_sup {
float: left;
font-size: 70%;
position: relative;
top: 2px;
}
.pre_sup_text {
float: left;
}
.owl-controls {
margin-top: 10px;
text-align: center;
-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
display: inline-block;
zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
width: 6px;
height: 6px;
margin: 5px 5px;
background: #d6d6d6;
display: block;
-webkit-backface-visibility: visible;
-webkit-transition: opacity 200ms ease;
-moz-transition: opacity 200ms ease;
-ms-transition: opacity 200ms ease;
-o-transition: opacity 200ms ease;
transition: opacity 200ms ease;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
background: #F47317;
}
.owl-nav{
	display: none;
	
}
.citrus_club {
text-align: left;
padding: 0rem 0;
color: #777777;
font-size: 0.8rem;
}
.citrus_club a {
color: #63912E;
font-weight: 400;
}
.citrus_club .bonus {
color: #63912E;
font-size: 1.3rem;
}
.citrus_club .numm {
font-size: 1.5rem;
font-weight: 500;
}
div#product-card-delivery div {
margin: 0.8rem 0;
}
div#product-card-delivery {
color: #777777;
}
.product-card-module {
padding: 1rem 0;
background-color: #F9F9F9;
border-bottom: 1px solid #C8C7CC;
border-top: 1px solid #C8C7CC;
padding-left: 16px;
color: #777777;
font-size: 1.1rem;
position: relative;
}
#main .product-card-module{
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

.phone_contaner:after {
content: "+380";
position: absolute;
top: 0%;
left: 16px;
height: 22px;
width: 22px;

}
.module-open .product-card-module:after{
    /*transform: rotate(180deg);
    margin-top: -16px !important;*/
}
.ui-panel-closed{
	position: absolute;
left: -1000px !important;
overflow: hidden !important;
width: 0px !important;
height: 0px !important;
}
.main-module {
border-bottom: 0px;
border-top: 0px;
/*background-color: transparent;*/
}
.product-card-module-cr .ui-icon-carat-r:after{
    display: none;
}
.main-module.first,.product-card-module-cr.first {
border-top: 1px solid #C8C7CC;
}

.module-close {
border-bottom: 1px solid #C8C7CC;
}
.product-card-module-cr.module-open .product-card-info-content{
    display: block;
	
}

.product-card-module-cr.module-close .product-card-info-content{
    display: none;
}
.product-card-module-cr.module-open .product-card-module{
    /**/
}

.product-card-module.link{
     border-bottom: 1px solid #C8C7CC;
    }
    .product-card-module-cr .more{
        padding-left: 0 !important;
        height: 39px;
    }
    

    
 .product-card-module-cr a{
    font-weight: 400;
    text-decoration:none;
 }

.product-card-module-cr .more h2 {
font-size: 1.4rem !important;
color: #777777;
}
.product-card-module-cr .more {
padding-left: 0 !important;
height: 39px;
}
#main .owl-theme .owl-dots .owl-dot span {
margin: 5px 5px 0px 5px;
background: rgba(235, 235, 235, 0.23);
display: block;
}
#main  .owl-controls {


position: absolute;
bottom: 0px;
width: 100%;
}
.v_color_c.active {
position: relative;
top: -4px;
}
.v_color_c.active .v_color {
width: 2.8rem !important;
height: 2.8rem !important;
position: relative;
}
.active .v_color.v_color_text {
background-color: rgb(224, 214, 214);
}

.product-card-module:hover {
background-color: rgba(218, 235, 245, 0.33);
}
#page-cart .ui-icon-carat-r:after,#shoplist-page .ui-icon-carat-r:after{
	display: none;
}
#total_price {
float: right;
margin-top: 7px;
color: #F47317 !important;
font-size: 1.7rem;
}
.copy {
text-align: left;
font-size: 0.7rem;
margin-top: 1rem;
margin-left: 16px;
margin-right: 16px;
}

.product-card-info-content.info{
	border-top: 1px solid #C8C7CC;
	border-bottom: 1px solid #C8C7CC;
}
#product-card .product-card-info-content img,#text-page .content-padding img{ 
 max-width: 100% !important;
 max-height: 100% !important;
 height:auto;
 width:auto;
 
}
#product-card .product-card-info-content,#text-page .content-padding{
	font-size: 1rem !important;
}
#product-card .product-card-info-content h1,#product-card .product-card-info-content  h2,#product-card .product-card-info-content  h3,#text-page .content-padding h1,#text-page .content-padding h2,#text-page .content-padding h3{
font-size: 1.1rem !important;
font-weight: 500;
}
.bnt-menu-panel-right{
	position: absolute;
top: 0;
right: 10px;
}

#phone{
color: rgba(131, 130, 130, 1);
font-size: 1.1rem;
font-weight: 400;
font-family: arial;
}

.copy_links a {
font-size: 0.6rem !important;
text-decoration: underline;
margin-right: 16px;
cursor: pointer;
font-weight: 400;
}
.ui-input-text input, .ui-input-search input{
	color: rgb(165, 165, 165);
}
.ui-input-text input:disabled, .ui-input-search input:disabled{
	color: rgb(0, 0, 0);
}
.mini_btn{
	background: transparent !important;
	border: 1px solid silver !important;	
	font-weight: 400;
	padding:0.5rem 0.7rem;
	font-size: 0.7rem;
	cursor: pointer;
	box-shadow: none;
}
.mini_btn.blue{
	color: #3894FC !important;
	border-color:#3894FC !important;
}
.mini_btn.green{
	color: #46CA5E !important;
	border-color:#46CA5E !important;
}
.mini_btn.orange{
	color: #F6731B !important;
	border-color:#F6731B !important;
}
.ui-listview .delete_td{
	display: none;
}
.edit_mode .delete_td{
	display: table-cell;
	width:34px;
}
.select_basket__cnr select {
padding: 0;
width: 60px;
height: 40px;
border: 0px;
padding-left: 0.25rem;
color: #46CA5E !important;
background-color: transparent !important;
/* margin-bottom: 10px; */
}
.select_basket__cnr select {
outline-color:transparent !important;
outline-width:0px !important;
}

.edit_mode h2.product{
	font-size: 0.8rem !important;
}
.select_basket__cnr.mini_btn {
padding: 0;
display: block;
width: 40px;
height: 40px;
overflow: hidden;
margin-bottom: 10px;

}
.preview_text {
white-space: initial !important;
font-weight: 400;
font-size: 0.7rem;
margin-top: 0.5rem;
}
.preview_text p,.preview_text div, .preview_text h1,.preview_text h2, .preview_text a , .preview_text span {
white-space: initial !important;
font-weight: 400 !important;
font-size: 0.7rem !important;
margin-top: 0.5rem;
}
.preview_text img {
max-width: 100%;
height: auto;
}
div#text-page-content {
padding-top: 1rem !important;
}

.ui-footer .ui-btn {
padding: 0.7rem 0;
font-size: 1rem !important;
background-color: #FFFFFF;
}

.leftsideh1{
	margin: 0 0 0 3rem !important;
text-align: left !important;
font-size: 1rem !important;
position: relative;
top: 3px;
}
.leftsideh1 a{
	color: #FFFFFF !important;
}
.btn_tabs .ui-btn {
float: left;
width: 50%;
margin: 0px
}
ul#filter-props-values-listview li {
padding: 0px;
}

ul#filter-props-values-listview .ui-icon-carat-r:after,ul#sort-listview .ui-icon-carat-r:after{
	display: none;
}
.ui-popup-screen {
background-color: silver;
}
.h_filter{
	padding: 10px 10px 10px 10px;
margin: 0px;
max-width: 300px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 1rem;
}
.ui-listview>li>a.ui-btn:hover{
	background-color: 	rgba(51, 136, 204, 0.24) !important;
}

#pano{
	display:none;
}

#toggleStreetView{
	background-color: #f6731b;
	border-radius: 4px;
	color: #fff;
	position: absolute;
	right: 10px;
	z-index: 9999;
	padding:5px;
	display:none;
	margin-top:10px;
	cursor:pointer;
}

#product-card-content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ui-panel .ui-icon-carat-r:after{
	display: none;
}
.ui-panel .ui-btn{
-webkit-border-radius: .3125em;
border-radius: .3125em;
}
#product-card-content .product-card-module-cr.first.module-open .main-module {
border-bottom: 1px solid #C8C7CC;
}
#product-card-content .product-card-module-cr.first.module-open {
border-bottom: 1px solid #C8C7CC;
}